section, div {
	border: 3px solid #000000;
	box-sizing: border-box;
}

.our-team, .member {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.our-team {
	width: 940px;
	padding: 10px;
	margin: 0 auto;
}

.member {
	width: 452px;
	padding: 10px;
	align-items: flex-start;
}

.content-left, .content-right {
	border: none;
}

.content-left {
	width: 100px;
}

.content-right {
	flex-grow:2;
}

.photo {
	height: 100px;
	margin-right: 10px;
}

.member .content-right div {
	min-height: 45px;
}

.name ~ div {
	margin-top: 10px;
}
